# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars

# Terragrunt
.terragrunt-cache/
providers.tf
backend.tf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
